body {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.navbar {
    margin-bottom: 0px;
}

body {
    background-color: #2F2740;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    padding-right: 0;

    display: flex;
    align-items: center;
    background-color: #272C40;
}