body {
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    background-image: url("images/background.jpg");
}

h1 {
    color: white;
}

h6 {
    color: white;
}

.row {
    min-height: 100vh;
}